form {
    background-color: rgb(84, 164, 104);
    color: white;
    padding: 1em;
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

section h2 {
    margin: 0.2em;
    text-align: center;
}

input[type="submit"] {
    padding: 0.5em;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    border-radius: 20em;
    background-color: blanchedalmond;
    color: rgb(84, 164, 104);
    width: 15vw;
    margin-right: auto;
    margin-left: auto;
    transition: background-color .5s;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: rgb(255, 216, 156);
}